#result-container {
    display: none; /* Hide the result container by default */
    color: #fff; /* Text color for result container */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #00bcd4; /* Cyanish background color */
}

#question-container {
    text-align: center;
    background-color: #1e3553; /* Dark blue box color */
    border-radius: 20px; /* Rounded corners */
    padding: 20px;
    color: #fff; /* Text color */
}

/* Add any additional styling for your specific elements as needed */
h1 {
    font-size: 24px;
    margin: 0;
}

#user-response {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box; /* Include padding in the width */
    border: none; /* Remove default border */
    border-radius: 5px;
}

#submit-button {
    padding: 10px 20px;
    background-color: #00bcd4; /* Cyanish button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result-container {
    color: #fff; /* Text color for result container */
}
